<div id="<%= dom_id content %>">
  <p>
    <strong>Contentable:</strong>
    <%= content.contentable %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= content.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= content.description %>
  </p>

</div>
