<p style="color: green"><%= notice %></p>

<% content_for :title, "Videos" %>

<h1>Videos</h1>

<div id="videos">
  <% @videos.each do |video| %>
    <%= render video %>
    <p>
      <%= link_to "Show this video", admin_videos_path(video) %>
    </p>
  <% end %>
</div>

<%= link_to "New video", new_admin_video_path %>
